html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 60px 0;
  padding: 0;
  font-family: $LatoLatinLight;
  height: 100%;
  background-color: $White;
  color: $SumiBlack;
}

section[data-hidden="yes"] {
  display: none;
}

ruby {
  font-size: 48px;
}

rp, rt {
  font-size: 18px;
  font-family: serif;
  padding: 0 2px;
}

input {
  background-color: $White;
  border: 1px solid grey;
  color: $SumiBlack;
}

select {
  color: $SumiBlack;
}
